<!DOCTYPE html>

<html>

<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <!-- <script type="text/javascript"></script>-->
</head>

<body>
    <div id="submit">
        <form name="f1" method="POST" enctype="multipart/form-data">
            <input type="file" value="上傳檔案" name="upfile" accept=".txt , .docx , .csv , .pdf">
            <input type="submit" value="送出" name="submit_file">
        </form>
    </div>
    <div>
        <h2>{{ Hi }}</h2>
    </div>
</body>
<script>
</script>

</html>